  <footer>
  <div class="row">
  <div class="col-lg-12">
    <ul class="list-unstyled">
      <li class="pull-right"><a href="#top">${t("meta:Back to top")}</a></li>
      ${get('moduleFoot') || ''}
    </ul>
    <p>data provided by<br> <a href="//www.zazuko.com"><img style="height: 30px;" src='alethio-logo.svg'></a></p>
    </ul>

    <p style="margin-top: 100px;"><center><a href="https://github.com/zazuko/trifid" target="_blank">${t("meta:Powered by")} Trifid</a></script>${get('moduleAbout') ? ' & ' + get('moduleAbout') : ''} </center></p>
  </div>
  </div>
  </footer>
