html {
    font-size: 1em;
}
#header {
    background-color: #53BBF4;
    color: #fff;
    width: 100%;
    font-size: 2em;
    padding: 1em 3em 1em 1em;
}
#footer {
    background-color: #4298B5;
    color: #fff;
    font-size: 0.9em;
    width: 100%;
    text-align: center;
    padding: 2em 3em 2em 1em;
}
hr.dashed {
    border-top: 1px dashed #8c8b8b;
    width: 5%;
    margin-right:100%;
}
hr.baffone {
  height: 30px;
  border-style: solid;
  border-color: #8c8b8b;
  border-width: 1px 0 0 0;
  border-radius: 20px;
}
hr.baffone:before {
  display: block;
  content: "";
  height: 30px;
  margin-top: -31px;
  border-style: solid;
  border-color: #8c8b8b;
  border-width: 0 0 1px 0;
  border-radius: 20px;
}
.moving {
  padding-top: 100px;
  margin-top: -100px;
}

/* STICKY */
#sticky.stick {
    margin-top: 0 !important;
    position: fixed;
    top: 0;
    z-index: 10000;
}


/* CONTAINER */
.container {
    width: 100%;
    padding: 2% 2% 2% 2%;
}

.LOD {
  background-color: #28abe3;
  color: #FFF;
  font-size: 2em;
  width: 100%;
  padding: 1em 3em 1em 2em;
}
