html {
    font-size: 1em;
}
#header {
    background-color: #7287C6;
    color: #fff;
    height: 10em;
}
#footer {
    background-color: #7287C6;
    color: #fff;
    font-size: 0.9em;
    height: 10em;
}

/* TREE */
.clt, .clt ul, .clt li {
    position: relative;
    padding: 10px; /* space between lines */
}
.clt ul {
    list-style: none;
    padding-left: 3em;
}
.clt li::before, .clt li::after {
    content: "";
    position: absolute;
    left: -20px; /* text position, related with oriz. length */
}
.clt li::before { /* - */
    border-top: 1px solid #000;
    top: 20px;
    width: 15px; /*orizontal length*/
    height: 0;
}
.clt li::after { /* | */
    border-left: 1px solid #000;
    height: 100%;
    width: 0px;
    top: -40px;
}
.clt ul > li:last-child::after {
    height: 61px;
}

/* STICKY */
#sticky {
    width: 600px;
}

#sticky.stick {
    margin-top: 0 !important;
    position: fixed;
    top: 0;
    z-index: 10000;
}

