name: Run Tests

on:
  push:
    branches:
      - "**"
    tags:
      - "**"

jobs:
  tests:
    runs-on: ubuntu-latest

    timeout-minutes: 5

    strategy:
      matrix:
        node-version:
          - 20
          - 22

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up NodeJS ${{ matrix.node-version }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}
          cache: npm

      - name: Install dependencies
        run: npm ci

      - name: Run tests
        run: npm run test

      - name: Codecov
        uses: codecov/codecov-action@v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}

  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version:
          - 20
          - 22

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up NodeJS ${{ matrix.node-version }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}
          cache: npm

      - name: Install dependencies
        run: npm ci

      - name: Run build of each package (prepack script, mostly for typings)
        run: npm run build
